<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

        <!-- 读取jdbc.properties -->
        <context:property-placeholder location="classpath:jdbc.properties" />
        <!-- 创建DataSource -->
        <bean id="dataSourceAplp" class="org.apache.commons.dbcp.BasicDataSource">
                <property name="url" value="${jdbc.url}" />
                <property name="driverClassName" value="${jdbc.driverClass}" />
                <property name="username" value="${jdbc.user}" />
                <property name="password" value="${jdbc.password}" />
                <!-- maxActive最大连接数 -->
                <property name="maxActive" value="${maxActive}" />
                <!-- maxIdle最大空闲数 -->
                <property name="maxIdle" value="${maxIdle}" />
        </bean>

        <bean id="dataSourceDB" class="org.apache.commons.dbcp.BasicDataSource">
                <property name="url" value="${jdbc.url}" />
                <property name="driverClassName" value="${mysql.url}" />
                <property name="username" value="${jdbc.user}" />
                <property name="password" value="${jdbc.password}" />
                <!-- maxActive最大连接数 -->
                <property name="maxActive" value="${maxActive}" />
                <!-- maxIdle最大空闲数 -->
                <property name="maxIdle" value="${maxIdle}" />
        </bean>

        <import resource="applicationContext-datasource.xml"/>

        <import resource="applicationContext-sqlsessionsactory.xml"/>

        <import resource="applicationContext-transaction.xml"/>

</beans>