<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!-- 创建SqlSessionFactory对象 -->
        <bean id="sqlSessionFactoryUser" class="org.mybatis.spring.SqlSessionFactoryBean">
                <!-- 关联连接池 -->
                <!-- 使用上文定义的id为dataSource的数据库连接配置，让ref和它对应 -->
                <property name="dataSource" ref="dataSourceAplp" />
                <!-- 加载sql映射文件 -->
                <!-- 加载mapper目录下的语句映射文件 -->

                <property name="mapperLocations"  >
                        <array>
                                <value>classpath:mapper/user/StudentMapper.xml</value>
                                <value>classpath:mapper/user/TeacherMapper.xml</value>
                        </array>
                </property>

        </bean>

<!--        <bean id="sqlSessionFactoryDB" class="org.mybatis.spring.SqlSessionFactoryBean">-->
<!--                &lt;!&ndash; 关联连接池 &ndash;&gt;-->
<!--                &lt;!&ndash; 使用上文定义的id为dataSource的数据库连接配置，让ref和它对应 &ndash;&gt;-->
<!--                <property name="dataSource" ref="dataSourceDB" />-->
<!--                &lt;!&ndash; 加载sql映射文件 &ndash;&gt;-->
<!--                &lt;!&ndash; 加载mapper目录下的语句映射文件 &ndash;&gt;-->
<!--                <property name="mapperLocations"  >-->
<!--                        <array>-->
<!--                                <value>classpath:mapper/DB/DBMapper.xml</value>-->
<!--                        </array>-->
<!--                </property>-->
<!--        </bean>-->


</beans>