<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace要与接口类名对应 -->
<mapper namespace="xyz.zixiu.aplp.Dao.User.AdminMapper">

    <!-- id要与接口类内的方法名对应，parameterType要与方法的参数类型对应 -->

    <insert id="signUpAdministrator" parameterType="xyz.zixiu.aplp.Entity.SignEntity">
        insert INTO user_administrator(${basis}, password)
        values (#{id}, #{password})
    </insert>

    <select id="signInAdministrator" parameterType="xyz.zixiu.aplp.Entity.SignEntity"
            resultType="xyz.zixiu.aplp.Entity.ReadAdministratorEntity">
        select *
        from user_administrator
        where ${basis} = #{id}
          and password = #{password}
    </select>


    <update id="updateAdministrator" parameterType="xyz.zixiu.aplp.Entity.UpdateAdministratorEntity">
        update user_administrator
        set id=#{id},
            name=#{name},
            phone=#{phone},
            email=#{email},
            password=#{password}
        where ${signBasis} = #{signId}
          and password = #{signPassword}
    </update>

    <delete id="deleteAdministrator" parameterType="xyz.zixiu.aplp.Entity.SignEntity">
        delete
        from user_administrator
        where ${basis} = #{id}
          and password = #{password}
    </delete>
</mapper>