<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace要与接口类名对应 -->
<mapper namespace="xyz.zixiu.aplp.Dao.User.StudentMapper">

    <!-- id要与接口类内的方法名对应，parameterType要与方法的参数类型对应 -->
    <insert id="signUpStudent" parameterType="xyz.zixiu.aplp.Entity.SignEntity">
        insert into user_student(${basis}, password)
        values (#{id}, #{password})
    </insert>

    <select id="signInStudent" parameterType="xyz.zixiu.aplp.Entity.SignEntity"
            resultType="xyz.zixiu.aplp.Entity.ReadStudentEntity">
        select *
        from user_student
        where ${basis} = #{id}
          and password = #{password}
    </select>

    <update id="updateStudent" parameterType="xyz.zixiu.aplp.Entity.UpdateStudentEntity">
        update user_student
        set id=#{id},
            name=#{name},
            phone=#{phone},
            email=#{email},
            password=#{password},
            department=#{department},
            classe=#{classe}
        where ${signBasis} = #{signId}
          and password = #{signPassword}
    </update>

    <delete id="deleteStudent" parameterType="xyz.zixiu.aplp.Entity.SignEntity">
        delete
        from user_student
        where ${basis} = #{id}
          and password = #{password}
    </delete>

</mapper>