<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace要与接口类名对应 -->
<mapper namespace="xyz.zixiu.aplp.Dao.User.TeacherMapper">

    <insert id="signUpTeacher" parameterType="xyz.zixiu.aplp.Entity.SignEntity">
        insert into user_teacher(${basis}, password)
        values (#{id}, #{password})
    </insert>

    <select id="signInTeacher" parameterType="xyz.zixiu.aplp.Entity.SignEntity"
            resultType="xyz.zixiu.aplp.Entity.ReadTeacherEntity">
        select *
        from user_teacher
        where ${basis} = #{id}
          and password = #{password}
    </select>

    <update id="updateTeacher" parameterType="xyz.zixiu.aplp.Entity.UpdateTeacherEntity">
        update user_teacher
        set id=#{id},
            name=#{name},
            phone=#{phone},
            email=#{email},
            password=#{password},
            department=#{department}
        where ${signBasis} = #{signId}
          and password = #{signPassword}
    </update>

    <delete id="deleteTeacher" parameterType="xyz.zixiu.aplp.Entity.SignEntity">
        delete
        from user_student
        where ${basis} = #{id}
          and password = #{password}
    </delete>

</mapper>